<h1 class="page-headline text-center">Edit Position</h1>

<div class="table-card text-center">

  <%= render 'edit_form' %>

  <%= link_to 'Show', position_path %> |
  <%= link_to 'Back', department_path(@position.department) %>

</div>