<div class="animsition splash-logo text-center">
  <%= image_tag('nurio logo white.png', size: "800x392") %>
</div>

<br />

<div class="animsition text-center splash-container">
  <%= link_to 'Sign up', new_user_registration_path, class: "animsition-link splash-links" %> | <%= link_to 'Log in', new_user_session_path, class: "animsition-link splash-links" %>
</div>