<div class="splash-logo text-center">
  <%= image_tag('nurio logo bw.png', size: "800x392") %>
</div>

<br />

<div class="text-center"><%= link_to 'Sign up', new_user_registration_path %> | <%= link_to 'Log in', new_user_session_path %></div>