/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.created-by{
	font-style: italic;
	color: #fff;
}

.back-btn {
  border-top: 1px solid #d3d3d3;
  margin: 0px auto;
  text-align: center;
  width: 100px;
}

ul > li.prev-btn > a{
	color: #337ab7;
}
