/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*************************
********ORG FORM**********
**************************/

#organization_name {
  width: 170px;
}

#organization_description {
  width: 170px;
  margin-bottom: 10px;
}

#notice{
	color: #00FF00;
}

#organization_img_url {
  width: 170px;
}

.dept-btn{
	padding-top: 10px;
	padding-bottom: -5px;
}
/*.org-url{
	float: left;
}*/

