<h1 class="page-headline text-center">Editing organization</h1>

<div class="table-card text-center">

  <%= render 'form' %>

  <%= link_to 'Show', @organization %> |
  <%= link_to 'Back', organizations_path %>

</div>